<div class="container text-center battle-race">

    <!--<iframe src="https://player.vimeo.com/video/355527387?">
    </iframe>-->

    <div class="input-group mb-3 text-center search-place">
        <div class="input-group-prepend">
            <button class="btn btn-search-icon"><i class="search-icon"></i></button>
        </div>
        <input type="text" class="form-control search-field" placeholder="select a place to play">
    </div>
</div>