<footer>
    <div class="jumbotron footer-style">
        <div class="container">
            <div class="text-center">
                <img src="/images/tmyc-logos/white.svg" alt="The Model Yacht Club white"
                     width="10%" height="10%" class="text-center tmyc-logo-footer ">
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 text-center footer-titles-color">
                    <div class="btn-lg">LEGAL</div>

                    <div class="footer-links legal-links">
                        <div class="btn-sm">Legal Notice</div>
                        <div class="btn-sm">Terms of Use</div>
                        <div class="btn-sm">Sales and Refunds</div>
                        <div class="btn-sm">Use of Cookies</div>
                        <div class="btn-sm">Privacy Policy</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 text-center footer-titles-color">
                    <div class="btn-lg">NEWSLETTER</div>

                    <div class="col-lg-12 col-md-4 col-sm-4 container newsletter-content">
                        <form class="text-center">
                            <div class="input-group" style="padding-left: 20px">
                                <input type="email" class="form-control send-newsletter" placeholder="E-MAIL">
                                <div class="arrow-newsletter-container">
                                    <img src="/images/arrow-newsletter.svg" alt="arrow-newsletter"
                                         class="arrow-newsletter">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row text-center social-logos">
                        <div class="offset-lg-0 offset-md-3 offset-sm-3 col-lg-4 col-sm-2">
                            <img src="/images/social/facebook.svg" alt="Facebook">
                        </div>
                        <div class="col-lg-4 col-sm-2">
                            <img src="/images/social/instagram.svg" alt="Instagram">
                        </div>
                        <div class="col-lg-4 col-sm-2">
                            <img src="/images/social/twitter.svg" alt="Twitter">
                        </div>
                    </div>

                    <div class="text-center footer-dws-logo">
                        <img src="/images/dws/gray.svg" alt="DWS white logo" class="mx-auto d-block">
                    </div>

                    <div class="text-center">
                        <p class="copyright">Copyright 2020</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 text-center footer-titles-color">
                    <div class="btn-lg">ORGANIZATION</div>

                    <div class="footer-links organization-links">
                        <div class="btn-sm">Box Rules</div>
                        <div class="btn-sm">Instruction</div>
                        <div class="btn-sm">Umpire</div>
                        <div class="btn-sm">Yacht charter</div>
                        <div class="btn-sm">Contact</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>