<header>
    <div class="jumbotron fixed-top remove-header-space" id="header-div">
        <div class="container">
            <div class="text-center">
                <img src="/images/tmyc-logos/black.svg" alt="The Model Yacht Club black"
                     width="7%" height="7%" class="tmyc-logo-header text-center">
                <img src="/images/login.svg" alt="Login logo"
                     width="2%" height="2%" class="login-logo-header">
            </div>
        </div>

        <div class="container">
            <div class="row h-50">
                <div class="offset-lg-1 col-lg-2 text-center">
                    <div class="btn btn-sm btn-discover btn-header-border">DISCOVER</div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="btn btn-sm btn-battle-race">BATTLE RACE</div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="btn btn-sm btn-e-sport">E-SPORT</div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="btn btn-sm btn-model-making">MODEL MAKING</div>
                </div>
                <div class="col-lg-2 text-center">
                    <div class="btn btn-sm btn-shop">SHOP</div>
                </div>
            </div>
        </div>
        <div class="header-bottomline"></div>
    </div>
</header>