header {
    font: 14px 'Avenir Medium', Helvetica, Arial, sans-serif;
    position: sticky;
    padding-bottom: 75px;
    opacity: 0.97;
    z-index: 1000;
}

.jumbotron {
    padding: 2rem 2rem;
}

.remove-header-space {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.header-bottomline {
    border-bottom: 2px solid #ccc;
}

.btn-sm {
    border: 0;
}

.border-black {
    border-bottom: 3px solid #000000 !important;
    border-radius: 0;
}

.border-yellow {
    border-bottom: 3px solid #fff308 !important;
    border-radius: 0;
}

.border-orange {
    border-bottom: 3px solid #ff7d08 !important;
    border-radius: 0;
}

.border-transparent {
    border-bottom: 3px solid #eaedf0 !important;
    border-radius: 0;
}

.btn-model-making, .btn-shop {
    color: #acacac !important;
}

.col-lg-2, .col-sm-2 {
    padding: 0 !important;
}

@media screen and (min-width: 991px) {
    .col-lg-2 {
        flex: 0 0 13.33% !important;
        width: 13.33% !important;
    }
}

@media screen and (max-width: 990px) {
    .col-sm-2 div {
        font-size: 10px !important;
    }
}

.tmyc-logo-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.login-logo-header {
    margin-top: 2%;
    float: right;
}